{{set . "title" "ご～"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>It works!</h1>
        <p>まみむめも♪</p>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <ul>
        {{range .users}}
        <li>
          {{.ID}} {{.Name}}
          {{.CreatedAt.Format "2006/01/02 15:04:05"}}
          {{.UpdatedAt.Format "2006-01-02 15:04:05"}}
        </li>
        {{end}}
      </ul>
    </div>
  </div>
</div>

{{template "footer.html" .}}
